:root {
	--Dance: url("https://hypesquad-inc.github.io/Sticker-Pack-memes/assets/stickers/Dance.gif")
}


/* Dance */
[aria-label="Sticker, Dance, Wumpus dancing with headphones on"] .lottieCanvas-1W7L-f {
	background-image: var(--Dance);
    height: 0px;
    width: 0px;
	padding: 50%;
	background-size: 100%;
}

/*  */
[] .lottieCanvas-1W7L-f {
	background-image: var(--);
    height: 0px;
    width: 0px;
	padding: 50%;
	background-size: 100%;
}