:root {
	--Nervous: url("https://hypesquad-inc.github.io/Sticker-Pack-memes/assets/stickers/Nervous.gif");
	--Dance: url("https://hypesquad-inc.github.io/Sticker-Pack-memes/assets/stickers/Dance.gif");
}

/* Nervous */
[aria-label="Sticker, Nervous, Wumpus shaking and sweating"] .lottieCanvas-1W7L-f {
	background-image: var(--Nervous);
	height: 0px;
	width: 0px;
	padding: 50%;
	background-size: 100%;
}

/* Dance */
[aria-label="Sticker, Dance, Wumpus dancing with headphones on"] .lottieCanvas-1W7L-f {
	background-image: var(--Dance);
	height: 0px;
	width: 0px;
	padding: 50%;
	background-size: 100%;
}

